html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    min-width: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    
}
h1{
    background-size: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Raleway", sans-serif;
        color: whitesmoke;
        max-width: 100%;
        max-height: 100%;
}
h2{
    background-size: 50%;
    padding-top: 50px;
    padding-bottom: 0px;
    font-family: 'Fredericka the Great', cursive;
        color: whitesmoke;
        font-size: xx-large;
}
h3{
    background-size: 50%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Raleway", sans-serif;
        color: whitesmoke;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-style: italic;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}

.intro{
     background-image: url("blackcover.jpg");
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
     min-width: 100%;
 }
 .intro2{
    background-image: url("blackcover.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position:relative;
    width: 90%;
    min-width: 100%;
    margin: auto;
    
}

 p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: whitesmoke;
     font-size: x-large;
     padding: 50px;
     min-width: 100%;
 }
 .introFont {
    font-family: 'Fredericka the Great', cursive;
    font-size: xx-large;
 }
 .p2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: x-large;
    padding: 20px;
    margin-bottom: 0px;
    }
.boxes {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color:transparent;
   position: relative;
   min-width: 100%;
   min-height: 100%;
    
    
  }

#section2 {
        font-style: italic;
    }
#section3 {
    font-style: italic;
} 
.button {
        opacity: .5;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration:none;
        display: inline-block;
        font-size: 60px;
        font-family: 'Libre Barcode 128 Text', cursive;
        
    } 
    .button2 {
        opacity: .5;
        border: none;
        color: white;
        padding: 0px 12px;
        text-align-last: left ;
        text-decoration:none;
        display: inline-block;
        font-size: 60px;
        font-family: 'Libre Barcode 128 Text', cursive;
        margin-top: -20px;
        
    }
    .footerButtons {
        opacity: .5;
        border: none;
         color:white;
        padding: 12px 12px;
        text-align-last: left ;
        text-decoration:none;
        display: inline-block;
        font-size: 40px;
        font-family: 'Libre Barcode 128 Text', cursive;
        margin-top: -20px;
    } 
    #myDIV {
        width: 300px;
        height: 100%;
        border: 4px dotted gold;
        border-radius: 60%;
        animation: mymove .5s infinite;
        transform: rotate(30deg);
      }
      
      @keyframes mymove {
        from {border-color: gold;}
        to {border-color: honeydew;}
      }
      img {
          max-width: 100%;
          height: auto;
      } 
.image1 {
    max-height: 800px;
    opacity: .8;
    margin-top: -50px;
    margin-right: -20px;
    

    
}
.image2 {
    max-height: 800px;
    opacity: .8;
    position: relative;
}
.poemImages {
    width:50%;
    opacity: .7;
    border-radius: 20%;
    margin-left: -40px;
    margin-top: 10px;
    margin-bottom: -5px;
    position: sticky;
}
.poemImages2 {
    width:20%;
    opacity: .7;
    border-radius: 20%;
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: -5px;
    position: sticky;
}

.line-top {
  
    width: 120px;
    height:10px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dotted 3px orange;
    padding: 100px 100px 140px 100px;
   
    border-radius: 80%;
    margin: 40px -30px 0;
    animation: mymove .5s infinite;
}


#red {
    width: 1px;
    margin: -30px auto;
    background:transparent;
}
#blue {
    width: 50px auto;
    background: transparent;
}



  
   